<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPi Dashboard</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="rpiDashboard">

<div class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" title="Main page">RPiDashboard</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat="menuEntry in menu" ng-class="menuClass(menuEntry.path)"><a href="#{{menuEntry.path}}" title="{{menuEntry.title}}">{{menuEntry.name}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="loggedIn"><a href="#/login">Login</a></li>
            <li ng-show="loggedIn"><a class="pointer" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
    </div>
</div>

<div class="container">
    <div ng-controller="TitleDescriptionController">
        <h1 ng-show="titleShow">{{title}}</h1>
        <p ng-show="descriptionShow">{{description}}</p>
    </div>
    <div ng-view></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="js/jquery.rpijs.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-cookies.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/angular/ng-google-chart.js"></script>
<script src="js/angular/dashboard.js"></script>
<script src="js/angular/history.js"></script>
<script src="js/angular/login.js"></script>
<script src="js/angular/navigation.js"></script>
<script src="js/angular/main.js"></script>
<script src="js/angular/cpu.js"></script>
<script src="js/angular/memory.js"></script>
<script src="js/angular/network.js"></script>
<script src="js/angular/storage.js"></script>
<script src="js/angular/gpio.js"></script>
<script src="js/angular/i2c.js"></script>
<script src="js/angular/spi.js"></script>
<script src="js/angular/serial.js"></script>
<script src="js/angular/shift.js"></script>

</body>

</html>
