# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Duda specific
*.d
src/Makefile
*.duda

# gitbook
_book

# RRDtool
*.rrd

# data
*.dat

# java min-s in subfolders of js
src/html/js/*/*.min.js

# css min
*.min.css

# cssqc
parsetab.py
