<div class="container">

    <h1>CPU</h1>
    <p><b>Uptime:</b> {{uptime | time}}</p>
    
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <h3>Usage</h3>
            <ul>
                <li class="graph-red"><b>User processes:</b> {{usage.user.v | procents}}</li>
                <li class="graph-orange"><b>System:</b> {{usage.system.v | procents}}</li>
                <li class="graph-blue"><b>I/O wait:</b> {{usage.iowait.v | procents}}</li>
            </ul>
        </div>
        
        <div class="col-md-2 col-sm-3 chart-container">
            <div google-chart chart="usageGraph" class="chart"></div>
        </div>
        
        <div class="col-md-7 col-sm-12 chart-container">
            <div google-chart chart="usageHistory" class="chart"></div>
        </div>
    </div>
    
    <h3>Temperature</h3>
    <div class="row">
        <div class="col-md-5 col-sm-12 chart-container">
            <div google-chart chart="temperatureGauge" class="chart"></div>
        </div>
        <div class="col-md-7 col-sm-12 chart-container">
            <div google-chart chart="temperatureHistory" class="chart"></div>
        </div>
    </div>
</div>