<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="username">
        <input type="password" class="form-control" placeholder="Password" required ng-model="password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me" ng-model="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    </form>
</div>