<div class="container">

    <h1>RPi Dashboard</h1> 
    
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">CPU usage</div>
                <div google-chart chart="cpuUsage" class="panel-body"></div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">RAM usage</div>
                <div google-chart chart="ramChart" class="panel-body"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">CPU temperature</div>
                <div google-chart chart="temperatureGauge" class="panel-body"></div>
            </div>
        </div>
    </div>
    
</div>