.chart-container {
    padding-bottom: 30%;
    min-height: 300px;
    position: relative;
}
.chart {
    width: 100%;
    height: 100%;
    position: absolute;
}
.history-chart {
    height: 100%;
}
.history-container {
    height: 100%;
    padding-top: 2em;
}
#storage-history-chart-container {
    min-width: 550px;
}
.history {
    position: absolute;
}
.history-select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.graph-green {
    color: #109618;
}
.graph-red {
    color: #dc3912;
}
.graph-orange {
    color: #ff9900;
}
.graph-blue {
    color: #3366cc;
}
.gpio .panel {
    min-height: 22em;
}
.main-placeholder {
    background: #eee;
    border: dashed 1px #777;
    height: 293px;
    margin-bottom: 20px;
}
.main-panel-heading {
    cursor: move;
}
.main-panel-body {
    height: 250px;
}
